:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-default-golden: rgba(255, 215, 0, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-gradient: rgba(255, 163, 26, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-imagecolor: rgba(15, 197, 142, 1);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.mac-book-pro141-container {
  min-height: 100vh;
}
.mac-book-pro141-mac-book-pro141 {
  width: 100%;
  height: 5039px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.mac-book-pro141-navbar {
  top: 3px;
  left: 0px;
  width: 1512px;
  height: 116px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.mac-book-pro141-logo1 {
  width: 122px;
  height: 40px;
  position: relative;
  border-color: transparent;
  margin-right: 64px;
}
.mac-book-pro141-frame2 {
  width: 1325.7982177734375px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro141-header {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.mac-book-pro141-home-link {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  justify-content: center;
}
.mac-book-pro141-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-home-link1 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  justify-content: center;
}
.mac-book-pro141-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-home-link2 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  justify-content: center;
}
.mac-book-pro141-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-home-link3 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  justify-content: center;
}
.mac-book-pro141-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-user-circle-outline {
  width: 24px;
  height: 24px;
  position: relative;
}
.mac-book-pro141-content1 {
  top: 217px;
  left: 56px;
  width: 497px;
  height: 396px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-frame1stpage {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 27px;
}
.mac-book-pro141-text08 {
  color: rgba(253, 253, 253, 1);
  height: auto;
  flex-grow: 1;
  font-size: 96px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-frame3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 27px;
}
.mac-book-pro141-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-rectangle3 {
  width: 150px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-rectangle31 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.mac-book-pro141-text12 {
  top: 16px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-main-pic {
  top: 176px;
  left: 622px;
  width: 850px;
  height: 572.6327514648438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-rectangle4 {
  top: 0px;
  left: 36.06206130981445px;
  width: 816px;
  height: 517px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-unsplash2v-d8l-ihdnw {
  top: 53.78358459472656px;
  left: 28.515031814575195px;
  width: 783px;
  height: 488px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-social-media {
  top: 686px;
  left: 56px;
  width: 238px;
  height: 50px;
  position: absolute;
}
.mac-book-pro141-aboutus {
  top: 888px;
  left: 652px;
  width: 208px;
  display: flex;
  padding: 5px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-vector1 {
  width: 0px;
  height: 148px;
  position: relative;
  margin-bottom: 5px;
}
.mac-book-pro141-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-aboutuspic1 {
  top: 1055px;
  left: 59px;
  width: 641px;
  height: 501.430908203125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-rectangle5 {
  top: 42.551448822021484px;
  left: 0px;
  width: 610px;
  height: 460px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-mcqillustrationinsta4x1 {
  top: 17.20977210998535px;
  left: 20px;
  width: 608px;
  height: 454px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-aboutusmain {
  top: 1055px;
  left: 861px;
  width: 559px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 45px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.mac-book-pro141-about-uscontent {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 40px;
}
.mac-book-pro141-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-icons {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-frame5 {
  width: 244.5px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 70px;
  flex-direction: column;
}
.mac-book-pro141-check-circle-outline {
  width: 61px;
  height: 59px;
  position: relative;
  margin-bottom: 22px;
}
.mac-book-pro141-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 38px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-frame6 {
  width: 244.5px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-check-circle-outline1 {
  width: 61px;
  height: 59px;
  position: relative;
  margin-bottom: 22px;
}
.mac-book-pro141-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 38px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-aboutuspic3 {
  top: 1680px;
  left: 791px;
  width: 657px;
  height: 523px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-rectangle51 {
  top: 0px;
  left: 32.90935516357422px;
  width: 626px;
  height: 480px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-unsplash-xp4n-c72y-vwq {
  top: 25.032360076904297px;
  left: 16.409561157226562px;
  width: 624px;
  height: 474px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-aboutusmain2 {
  top: 1715px;
  left: 79px;
  width: 616px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-aboutusmain1 {
  width: 559px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 45px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.mac-book-pro141-about-uscontent1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 40px;
}
.mac-book-pro141-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-icons1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-frame51 {
  width: 244.5px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 70px;
  flex-direction: column;
}
.mac-book-pro141-check-circle-outline2 {
  width: 61px;
  height: 59px;
  position: relative;
  margin-bottom: 22px;
}
.mac-book-pro141-text28 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 38px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-frame61 {
  width: 244.5px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-check-circle-outline3 {
  width: 61px;
  height: 59px;
  position: relative;
  margin-bottom: 22px;
}
.mac-book-pro141-text30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 38px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-ourteam {
  top: 2381px;
  left: 646px;
  width: 220px;
  display: flex;
  padding: 5px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-vector11 {
  width: 0px;
  height: 148px;
  position: relative;
  margin-bottom: 5px;
}
.mac-book-pro141-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-utkarsh-sharma {
  top: 2516px;
  left: 66px;
  width: 535px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-unsplash-e-ft-ez-jg-rg {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 371px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-person-details {
  top: 233px;
  left: 9px;
  width: 309px;
  height: 151px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-perosnname {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text34 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-designation {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-social-media1 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-facebook {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-twitter {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-instagram {
  width: 30px;
  height: 30px;
  position: relative;
}
.mac-book-pro141-pranav {
  top: 2528px;
  left: 912px;
  width: 535px;
  height: 382px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-unsplash-uz4p2h3kfe {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 371px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-person-details1 {
  top: 231px;
  left: 15px;
  width: 309px;
  height: 151px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-perosnname1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-designation1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-social-media2 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-facebook1 {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-twitter1 {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-instagram1 {
  width: 30px;
  height: 30px;
  position: relative;
}
.mac-book-pro141-amrit {
  top: 2998px;
  left: 488px;
  width: 535px;
  height: 371px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-unsplashgcq-xc-s-nmhk {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 371px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-person-details2 {
  top: 220px;
  left: 14px;
  width: 309px;
  height: 151px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-perosnname2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text42 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-designation2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text44 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-social-media3 {
  display: flex;
  padding: 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-facebook2 {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-twitter2 {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 24px;
}
.mac-book-pro141-instagram2 {
  width: 30px;
  height: 30px;
  position: relative;
}
.mac-book-pro141-contact {
  top: 4630px;
  left: 768px;
  width: 531px;
  height: 343px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-contactus {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 34px;
}
.mac-book-pro141-text46 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 38px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-address {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 34px;
}
.mac-book-pro141-text48 {
  color: rgba(255, 163, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-text49 {
  color: rgba(255, 163, 26, 1);
}
.mac-book-pro141-text50 {
  color: rgba(0, 0, 0, 1);
}
.mac-book-pro141-text51 {
  color: rgba(255, 255, 255, 1);
}
.mac-book-pro141-phone {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 34px;
}
.mac-book-pro141-text59 {
  color: rgba(255, 163, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-text60 {
  color: rgba(255, 163, 26, 1);
}
.mac-book-pro141-text61 {
  color: rgba(0, 0, 0, 1);
}
.mac-book-pro141-email {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-text63 {
  color: rgba(255, 163, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-text64 {
  color: rgba(255, 163, 26, 1);
}
.mac-book-pro141-text65 {
  color: rgba(0, 0, 0, 1);
}
.mac-book-pro141-component1 {
  top: 4521px;
  left: 64px;
  width: 555px;
  height: 485.5259704589844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-rectangle6 {
  top: 0px;
  left: 31.390411376953125px;
  width: 525px;
  height: 450px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-address2 {
  top: 26px;
  left: 17.302398681640625px;
  width: 520px;
  height: 434px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.mac-book-pro141-testimonials {
  top: 3560px;
  left: 652px;
  width: 289px;
  display: flex;
  padding: 5px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-vector12 {
  width: 0px;
  height: 148px;
  position: relative;
  margin-bottom: 5px;
}
.mac-book-pro141-text67 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-bhavyapic {
  top: 3745px;
  left: 64px;
  width: 407px;
  height: 578px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-unsplash-ads-in-sc-dg {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  border-color: transparent;
  border-radius: 32px;
}
.mac-book-pro141-bhavya {
  top: 3831px;
  left: 699px;
  width: 484px;
  height: 357px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-text69 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 25px;
}
.mac-book-pro141-text70 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-star {
  width: 484px;
  height: 25px;
  position: relative;
  align-self: stretch;
  margin-bottom: 25px;
}
.mac-book-pro141-info {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro141-bhavyajain {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 12px;
}
.mac-book-pro141-text72 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 27px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro141-designation3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro141-text74 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 27px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

